nav{
    display:none;
}
@media only screen and (max-width: 600px) {
nav{
    display:block;
}
.menu__container{
    width:0vw;
    height:100vh;
    position:absolute;
    top:0;
    right:0;
    box-sizing: border-box;
    background-color:rgba(0,0,0,1);
    transition:width 1s;
    z-index:5;
}
.menu__container>link{
    color:yellow;
}
.entering{
    width:50vw;
}
.entering > link{
    color:white !important;

}
ul{
    width:inherit;
    padding-top:40px;
    display:flex;
    flex-direction:column;
    font-family:"Erica One";
    font-size:25px;
    list-style-type:none;
}
.link{
    color:white;
    text-decoration:none;
}
.actual{
    color:white;
    text-decoration:none;
}
.actual::after{
    content:"<";
}
}