.menu__container{
    width:0vw;
    height:100vh;
    position:absolute;
    top:0;
    right:0;
    color:yellow;
    box-sizing: border-box;
    background-color:rgba(0,0,0,1);
    transition:width 1s,display 1s;
    z-index:5;
}
.entering{
    width:50vw;
}
ul{
    width:inherit;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    font-size:35px;
    list-style-type:none;
}
.link{
    color:white;
    text-decoration:none;
}
.actual{
    background-color:yellow;
    text-decoration:none;
}
