.about{
    padding:20px;
    height:100vh;
    font-family:"Oswald";
    font-size: 20px;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    align-items:center;

&__photo{
    width:420px;
    height:370px;
}
&__photo img{
    width:100%;
    height:auto;
}
&__descr{
    border:8px solid black;
    border-radius:10px;
    font-size:20px;
    background:white;
    width:65%;
    padding:10px;
}
}

@media only screen and (max-width: 600px) {
.about{
    height:100vh;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column-reverse;

&__photo{
    display:flex;
    width:100%;
}
&__photo img{
    width:100%;
    height:auto;
}
&__descr{
    padding:0 10px; 
    font-size:15px;
}
}
}
@media only screen and (max-height: 700px){ 
.about__photo{
    margin-top:15vh;
}
}