.about {
    width:100%;
    padding:20px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-family:"Oswald";
}

.about__photo {
    display: flex;
    align-self: center;
    width: 420px;
    height: 370px;
    margin-right: 20px;
}

.about__photo img {
    width: 100%;
    height: auto;
    filter: drop-shadow(10px 10px 10px black);
}

.about__descr {
    border: 8px solid black;
    border-radius: 10px;
    font-size: clamp(1.0rem, 2vw, 1.2rem);
    background: white;
    width: 65%;
    padding: 10px;
}

@media only screen and (max-width:600px) {
    .about {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        //justify-content: space-between;
        flex-direction: column;
    }

    .about__photo {
        width: 85%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about__photo img {
        width: 90%;
        height: auto;
        margin: auto 5%;
    }

    .about__descr {
        width: 85%;
        padding: 10px;
    }
}