.about{
    padding:20px;
    height:100vh;
    font-family:"Oswald";
    font-size: 20px;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.about__photo{
    width:420px;
    height:370px;
    background-image:url('./mi_star.webp');
    background-size:cover;

}
.about__descr{
    border:8px solid black;
    border-radius:10px;
    font-size:20px;
    background:white;
    width:65%;
    padding:10px;
}

@media only screen and (max-width: 600px) {
.about{
    height:100vh;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column-reverse;
}
.about__photo{
    display:flex;
    background-position:center;
    width:85vw;
    height:37vh;
}
.about__descr{
    padding:0 10px; 
    font-size:12px;
}
}