@keyframes scrollText {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.homepage{
    display:flex;
    border:1px black solid;
    font-family:'Erica One';
    color:black;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height:80vh;
  }
.roll__text{
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.roll__text > p{
  font-size:110px;
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 20s linear infinite;
}
.subtitle{
  display:flex;
  justify-self:start;
}
  