@keyframes scrollText {
  0%   { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}
.homepage{
    display:flex;
    margin:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Erica One';
    color:black;
    height:100vh;
  }
.roll__text{
  width:max-content;
  height:max-content;
  font-size:20vw;
  display: inline-block;
  animation: scrollText 20s linear infinite;
}
.subtitle{
  font-family:"Newsreader";
  display:flex;
  font-weight:bold;
  font-size:1.5vw;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

@media only screen and (max-width: 600px) {

.subtitle{
    font-family:"Newsreader";
    width:50%;
    text-align:center;
    display:flex;
    font-size:5vw;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.subtitle span{
  width:80%;
}
.homepage{
  padding:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:'Erica One';
  color:black;
  height:90vh;
}
}
