#image_container{
    background-image:url('../Contact/contact_baloon.png');
    width:320px;
    height:260px;
    background-size:cover;
    background-position:left top;
    z-index:5;
}
.contact{
    display:flex;
    width:85%;
    height:80vh;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    font-weight:bold;
    font-family:"Oswald";
    z-index:3;
}
.contact_title{
    font-family:"Oswald";
    font-size:30px;
}
#contact_sect{
    width:60%;
    display:flex;
}
.contact__form{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.contact__form__input{
    background-color:#ffffff;
    width:40%;
    margin:10px;
    font-family:"Oswald";
    font-size:20px;
    height:50px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
.contact_wrapper{
    width:100%;
    display:flex;
    justify-content:center;
}
._email{
    width:75%;
}
._textarea{
    width:75%;
    height:100px;
}
::-webkit-input-placeholder {
    font-size:20px;
    font-weight:bold;
    font-family:"Oswald";
}
#social_sect{
    display:flex;
    width:20%;
    height:90%;
    flex-direction:column;
    justify-content:space-between;
    align-items:left;
}
.linkedin{
    position:relative;
    top:-50px;
    left:70px;
}

.git{
    position:relative;
    top:30px;
    left:40px;
}
.insta{
    position:relative;
    top:110px;
    left:90px;
}
button{
    width:100px;
    height:45px;
    font-family:'Erica One';
    border:4px black solid;
    background-color:#ff0000;
}
@media only screen and (max-width: 600px) {

#image_container{
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    width:100%;
    height:85vh;
}
#contact_sect{
    width:100%;
    height:100vh;
    justify-content:space-around;
    align-items:center;
}
.contact{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.contact_form{
    height:80vh;
}
#social_sect{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.insta,.linkedin,.git{
    position:static;
}
button{
    width:100px;
    height:70px;
    border:4px black solid;
    background-color:#ff0000;
}
}