.contact{
    width:90%;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-family:"Oswald";
&_title{
    font-size:30px;
}
&_image_container{
    justify-self:center;
    align-items:center;
    width:25%;
}
&_form{
    display:flex;
    width:60%;
    flex-direction:column;
    align-items:flex-start;
}
}
::-webkit-input-placeholder {
    font-size:40px;
    font-weight:bold;
    font-family:"Oswald";
}
img{
    width:100%;
    height:auto;
}
.social{
    width:15%;
    height:85%;
}

input{
    background-color:#ffffff;
    width:40%;
    margin:10px;
    font-family:"Oswald";
    font-size:20px;
    height:50px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
textarea{
    background-color:#ffffff;
    width:75%;
    height:100px;
    margin:10px;
    font-family:"Oswald";
    font-size:20px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
.linkedin{
    position:relative;
    top:150px;
    left:140px;
}

.git{
    position:relative;
    top:140px;
    left:190px;
}
.insta{
    position:relative;
    top:170px;
    left:150px;
}
button{
    width:100px;
    height:45px;
    font-family:'Erica One';
    border:4px black solid;
    background-color:#ff0000;
}
@media only screen and (max-width: 600px) {
.contact{
    flex-direction:column;
    width:100%;

&_form{
    width:90%;
    align-items: center;
}
&_image_container{
    margin-top:20vh;
    width:50%;
    height:auto;
}
}
::-webkit-input-placeholder {
    font-size:20px;
    font-weight:bold;
    font-family:"Oswald";
}
input{
    width:60%;
}
textarea{
    width:85%;
}
.social{
    display:flex;
    background:none;
    width:80%;
    margin-top:20px;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.insta,.linkedin,.git{
    position:static;
}
}
