img{
    filter:drop-shadow(10px 10px 10px black);
}
.contact{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-family:"Oswald";
    &_title{
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
    &_image_container{
        display:none;
        width:0%;
    }
    &_form{
        display:flex;
        width:50%;
        flex-direction:column;
        align-items:center;
    }
}
::-webkit-input-placeholder {
    font-size: clamp(1.5rem, 2vw, 2rem);
    display:flex;
    align-items: center;
    font-weight:bold;
    font-family:"Oswald";
}
img{
    width:100%;
    height:auto;
}
.social{
    padding:10px;
    border:4px black solid;
    background-color: white;
    border-radius: 10px;
    width:20%;
    height:max-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_icons_mobile{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &_desktop{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &_desktop div{
        font-size: clamp(1.5rem, 2vw, 1.5rem);
        margin:10px;
        display:flex;
        justify-content: space-between;
    }
    &_desktop div span{
        margin-left:5px;
    }
}
input{
    background-color:#ffffff;
    width:70%;
    margin:10px;
    font-family:"Oswald";
    font-size: clamp(1.5rem, 2vw, 2rem);
    height:50px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
textarea{
    background-color:#ffffff;
    width:75%;
    height:140px;
    margin:10px;
    font-family:"Oswald";
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
button{
    margin:10px;
    width:100px;
    height:45px;
    font-family:'Erica One';
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    border:4px black solid;
    border-radius: 10px;
    background-color:#ff0000;
    transition: background-color 1s;
}
button:hover{
    background-color:#ffffff;
}
@media only screen and (max-width: 600px) {
.contact{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    &_form{
        width:90%;
        height:80%;
        align-items: center;
    }
    &_image_container{
        display:block;
        width:50%;
        height:auto;
    }
}

input{
    width:90%;
    height:35px;
}
textarea{
    width:90%;
}
.social{
    display:flex;
    background:none;
    border:none;
    width:80%;
    height:5%;
    margin-top:20px;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    &_div{
        display:none;
    }
    &_icons_mobile{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_desktop{
        display:none;
    }
}
.insta,.linkedin,.git{
    position:static;
}
button{
    display:block;
}
}
@media only screen and (max-height: 700px) {

.contact_image_container{
    display:block;
    margin-top:15vh;
}
}
