.contact{
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    font-family:"Oswald";
}
.contact_image_container{
    justify-self:center;
    align-items:center;
    width:20%;
}
::-webkit-input-placeholder {
    font-size:20px;
    font-weight:bold;
    font-family:"Oswald";
}
img{
    width:100%;
    height:auto;
}
.contact_form{
    display:flex;
    width:60%;
    flex-direction:column;
    align-items:center;
}
.social{
    width:20%;
    height:80%;
}

input{
    background-color:#ffffff;
    width:40%;
    margin:10px;
    font-family:"Oswald";
    font-size:20px;
    height:50px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
textarea{
    background-color:#ffffff;
    width:75%;
    height:100px;
    margin:10px;
    font-family:"Oswald";
    font-size:20px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
.linkedin{
    position:relative;
    top:150px;
    left:70px;
}

.git{
    position:relative;
    top:30px;
    left:40px;
}
.insta{
    position:relative;
    top:150px;
    left:160px;
}
button{
    width:100px;
    height:45px;
    font-family:'Erica One';
    border:4px black solid;
    background-color:#ff0000;
}
@media only screen and (max-width: 600px) {
.contact{
    flex-direction:column;
    width:100%;
}
.contact_form{
    width:80%;
}
.contact_image_container{
    margin-top:30px;
    width:50%;
    height:auto;
}
input{
    width:50%;
}
.social{
    display:flex;
    width:80%;
    margin-top:20px;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.insta,.linkedin,.git{
    position:static;
}
}
/*@media only screen and (max-height: 700px){
    .contact_image_container{
        display:none;
    }
}*/