#image_container{
    background-image:url('../About/mi_star.png');
    width:30%;
    height:80vh;
}
.contact{
    display:flex;
    width:85%;
    height:80vh;
    border:1px solid black;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    font-weight:bold;
    font-family:"Oswald";
}
.contact_title{
    font-family:"Oswald";
    font-size:30px;
}
#contact_sect{
    width:60%;
    display:flex;
    border:1px solid black;
}
.contact__form{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.contact__form__input{
    background-color:#ffffff;
    width:25%;
    margin:10px;
    font-family:"Oswald";
    font-size:20px;
    height:50px;
    padding:5px;
    border:5px solid black;
    border-radius:10px;
}
.contact_wrapper{
    width:100%;
    display:flex;
    justify-content:center;
}
._email{
    width:50%;
}
._textarea{
    width:50%;
    height:200px;
}
::-webkit-input-placeholder {
    font-size:20px;
    font-weight:bold;
    font-family:"Oswald";
}
#social_sect{
    display:flex;
    width:20%;
    border:1px solid white;
    flex-direction:column;
    justify-content:space-between;
    align-items:left;
}
@media only screen and (max-width: 600px) {
.contact{
    width:100%;
    display:flex;
    flex-direction:column;
}
}