.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
}

.player_one {
    height: 70px;
    width: 10px;
    border-radius: 25px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 65px;
    animation: movePaddleOne 4s infinite;
}

.player_two {
    height: 70px;
    width: 10px;
    border-radius: 25px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 65px;
    animation: movePaddleTwo 4s infinite;
}

.ball {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 80px;
    animation: moveBall 4s infinite linear;
}

@keyframes movePaddleOne {
    0%, 100% { top: 120px; }
    25% { top: 0px; }
    50% { top: 30px; }
    75% { top: 100px; }
}

@keyframes movePaddleTwo {
    0%, 100% { top: 20px; }
    25% { top: 60px; }
    50% { top: 50px; }
    75% { top: 100px; }
}

@keyframes moveBall {
    0% { left: 0; top: 80px; }
    25% { left: calc(100% - 12px); top: 60px; }
    50% { left: 0; top: 40px; }
    75% { left: calc(100% - 12px); top: 100px; }
    100% { left: 0; top: 80px; }
}
