.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  } 
  
  .player_one{
    height:70px;
    width:10px;
    border-radius: 25px;
    background-color:black;
    position:relative;
    left:-180px;
    animation: movePaddleOne 4s infinite;
  }
  
  .player_two{
    height:70px;
    width:10px;
    border-radius: 25px;
    background-color:black;
    position:relative;
    left:20px;
    animation: movePaddleTwo 4s infinite;
  }
  
  .ball{
    position:relative;
    height:12px;
    width:12px;
    border-radius:50%;
    background-color:black;
    animation: moveBall 4s infinite linear;
  }
  
  @keyframes movePaddleOne{
    0%, 100%{
      transform:translate(0px, 120px);
    }
    25%{
      transform:translate(0px, 0px);
    }
    50%{
      transform:translate(0px, 30px);
    }
    75%{
      transform:translate(0px, 100px);
    }
  }
  
  @keyframes movePaddleTwo{
    0%, 100%{
       transform:translate(0px,-50px);
    }
    25%{
         transform:translate(0px,10px); 
    }
    50%{
          transform:translate(0px,0px);
    }
    75%{
          transform:translate(0px,50px);
    } 
  }
  
  @keyframes moveBall{
     0%, 100%{
      transform:translate(-180px, 30px);
    }
    25%{
        transform:translate(18px, -25px);
    }
   50%{
       transform:translate(-180px, -55px);
    }
    75%{
      transform:translate(18px, 15px);
    }
  }

@media screen and (max-width: 430px ) {
  .content{
    left:70%;
  }
}
@media only screen and (min-width: 431px) and (max-width: 1500px ) {
  .content{
    left:65%;
  }  
}
