.loader {
    width: min(400px, 80%);
    height: min(400px, 80%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 16px;
    height: 16px;
    background: #000000;
    border-radius: 50%;
    animation: bounce 2s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px; /* Avvicinato per far toccare la pallina */
    margin: auto;
    height: 48px;
    width: 48px;
    background: #ffffff;
    border-radius: 4px;
    animation: rotate 2s linear infinite;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: translate(-50%, 0px);
        height: 20px;
    }
    20% {
        transform: translate(-25%, 50px);
        height: 24px;
    }
    25% {
        transform: translate(-25%, 65px);
        height: 12px;
    }
    70% {
        transform: translate(-75%, 50px);
        height: 24px;
    }
    75% {
        transform: translate(-75%, 65px);
        height: 12px;
    }
}

@keyframes rotate {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(-90deg);
    }
}
