@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'televideo';
    src: url('../src/fonts/Televideo.ttf') format('truetype');
}
html{
    scroll-behavior:smooth;
    font-family:"televideo";
}
img{
    width:64px;
    height:64px;
}
@media screen and (max-width: 600px) {
img{
    width:40px;
    height:40px;
}
}
@keyframes longing {
    from{width:10%}
    to{width:100%}
  }
.long{
    animation:longing 2s forwards;
    animation-delay:0s;
}
@keyframes lating{
    from{
        opacity:0;
        height:0px;}
    to{
        opacity:1;
        height:140px;}
}
.lat{
    animation: lating 2s forwards;
    animation-delay:2s;
}
@keyframes lating1{
    from{
        opacity:0;
        height:0px;}
    to{
        opacity:1;
        height:40vh;}
}
@media screen and (max-width: 600px) {
    @keyframes lating1 {
        from{
            opacity:0;
            height:0px;}
        to{
            opacity:1;
            height:50vh;}
    }
}
.lat1{
    animation: lating1 2s forwards;
    animation-delay:2.5s;
}
.lat3s{
    animation: lating1 2s forwards;
    animation-delay:3s;
}
.lat4s{
    animation: lating1 2s forwards;
    animation-delay:4s; 
}
.lat1_nodelay{
    display:block;
    animation: lating1 1s forwards;
}
.lat6s{
    animation: lating1 2s forwards;
    animation-delay:6s;
}
li:hover{
    color:black;
}
